<a-layout id="app" :style="{ height: '100vh' }">
  <!-- Move to navbar component during development -->
  <a-layout-header :style="{ position: 'fixed', zIndex: 1, width: '100%' }">
    <a-menu theme="dark" mode="horizontal" :style="{ lineHeight: '64px' }">
      <a-menu-item
        key="home"
        :class="{ 'ant-menu-item-selected': $route.name === 'home' }"
      >
        <router-link to="/">{{ 'HOME' | translate }}</router-link>
      </a-menu-item>
      <a-menu-item
        key="about"
        :class="{ 'ant-menu-item-selected': $route.name === 'about' }"
      >
        <router-link to="/about">{{ 'ABOUT' | translate }}</router-link>
      </a-menu-item>
    </a-menu>
  </a-layout-header>

  <a-layout-content :style="{ padding: '0 50px', marginTop: '64px' }">
    <slot></slot>
  </a-layout-content>

  <!-- Move to footer component during development -->
  <a-layout-footer :style="{ textAlign: 'center' }">
    One-click KEEP
  </a-layout-footer>
</a-layout>
